[submodule "imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
[submodule "json"]
	path = src/json
	url = https://github.com/nlohmann/json
[submodule "github_api"]
	path = src/github_api
	url = https://github.com/Kicer86/github_api